*{
  font-size: 18px;
}

/*header*/

header{
  display: flex;
}

.logo{
  flex: 1;
}

.name{
  flex-grow: 8;
  text-align: center;
}

.nav-button{
  text-align: right;
}

nav{
  position:relative;
  flex:1;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right:10px;
  text-align: right;
}

nav:hover ul{
  display: block;
}
