*{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/*header*/

header{
  display: flex;
  padding: 15px;
}

.logo{
  flex: 1;
}

.logo-img img{
  width: 100%;
  border-radius: 50%;
}

.name{
  flex-grow: 8;
  text-align: center;
  font-weight: 700;
}

.nav-button{
  text-align: right;
}

nav{
  position:relative;
  flex:1;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right:10px;
  text-align: right;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

nav:hover ul{
  display: block;
}

/*end of head*/

/*main content*/

main{
  min-height: 500px;
  margin: 50px 0px;
  /*border: 1px solid black;*/
  background-color: #D7E1F9;
}

.profile-img{
  text-align: center;
}

main .profile-img img{
  max-width: 80%;
  border-radius: 50%;
}

main section .about{
  padding: 20px;
}


/*end of main*/



/*footer*/

footer{
  text-align: center;
}

.social-m i{
  padding: 10px 15px;
  font-size: 22px;
}

.contact a{
  text-decoration: none;
  color: #0048FC;
}

.contact a:hover{
  color: #7EA2FC;
}

/*end of footer*/



@media screen and (min-width: 800px) {

  section{
    display: flex;
  }

  main section .about{
    margin-left: 6%;
    width: 80%;
    padding: 50px;
  }

  main .profile-img{
    padding-top: 50px;
  }

  .profile-img{
    flex: 1;
  }

  .about{
    flex: 1;
  }

  footer{
    display: flex;
  }

  .copy, .social-m, .contact{
    flex: 1;
  }

  .copy{
    padding-left: 15px;
    text-align: left;
  }

  .contact{
    padding-left: 15px;
    text-align: right;
  }

}
